.ladybug__container {
    width: 55px;
    background-color: rgb(101, 8, 213);
    border-radius: 10%;
    padding: 5px;
}

.sidebar__wrapper {
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(245, 250, 255);
    width: 250px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding: 10px 14px;
    align-items: center;
}

.sidebar__header {
    display: flex;
    align-items: center;
    gap: 50px;
}

.sidebar__welcome {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir';
    font-weight: bold;
}


.sidebar__links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.sidebar__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4em;
    gap: 1em;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 6px 20px;
    font-family: 'Avenir';
    transition: all .3s ease;
}

.sidebar__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2em
}

.sidebar__link:hover {
    background-color: rgb(101, 8, 213);
    color: white;
}

.sidebar__login {
    background-color: rgb(101, 8, 213);
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    width: 100%;
    transition: all 0.3s ease;
}

.sidebar__login:hover {
    transform: translateY(-2px);
    background-color: rgb(91, 7, 194);
}

.sidebar__hamburger {
    display: none;
    cursor: pointer;
}

.sidebar__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}


@media screen and (max-width:700px) {


    .special__toggle {
        transition: all 0.15s ease-in-out;
    }

    .sidebar__hamburger {
        display: block;
    }

    .sidebar__hamburger.active .sidebar__bar:nth-child(2) {
        opacity: 0;
    }

    .sidebar__hamburger.active .sidebar__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg)
    }

    .sidebar__hamburger.active .sidebar__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }

    .sidebar__wrapper {
        gap: 4em;
    }

    .welcome__toggle {
        display: none;
    }

    .wrapper__toggle {
        transition: all 0.3s ease-in-out;
        width: 70px;
    }

    .text__toggle {
        display: none;
    }

    .login__toggle {
        width: 60px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon__toggle {
        font-size: 30px;
    }
}